{% extends 'base.html' %}

{% block content %}

<h1>Transactions</h1>

<table>
    <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Merchant</th>
        <th>Tag</th>
    </tr>
    {% for transaction in transactions %}
        <tr>
            <td><a href="/transactions/{{ transaction.id }}">{{ transaction.date }}</a></td>
            <td>{{ transaction.amount }}</td>
            <td>
                <a href="/merchants/{{ transaction.merchant.id }}">{{ transaction.merchant.name }}</a>
            </td>
            <td>
                <a href="/tags/{{ transaction.tag.id }}">{{ transaction.tag.type }}</a>
            </td>
        </tr>
    {% endfor %}
</table>

<div>
    <a href="/transactions/new"><button>Add a new transaction</button></a>
</div>

{% endblock %}